[tool.poetry]
name = "py4vasp"
version = "0.3.0"
description = ""
authors = [
    "Martin Schlipf <martin.schlipf@gmail.com>",
    "Orest Dubay <orest-d@users.noreply.github.com>"
]

[tool.poetry.dependencies]
python = "^3.7.1"
h5py = "^3.3.0"
numpy = "^1.17.4"
pandas = "^1.3.0"
nglview = "^3.0.3"
ase = "^3.19.0"
mdtraj = "^1.9.5"
mrcfile = "^1.2.0"
plotly = "^5.1.0"
kaleido = "^0.2.1"

[tool.poetry.dev-dependencies]
pytest = "^3.0"
pytest-cov = "^2.8.1"
pylint = "^2.5.0"
sphinx = "^4.0.3"
black = "^21.6b0"

[tool.poetry2conda]
name = "py4vasp-env"

[tool.poetry2conda.dependencies]
python = {channel = "anaconda"}
h5py = {channel = "conda-forge"}
numpy = {channel = "anaconda"}
pandas = {channel = "conda-forge"}
nglview = {channel = "conda-forge"}
ase = {channel = "conda-forge"}
mdtraj = {channel = "conda-forge"}
plotlt = {channel = "conda-forge"}
mrcfile = {channel = "conda-forge"}
pytest = {channel = "anaconda"}
sphinx = {channel = "anaconda"}
black = {channel = "conda-forge"}


[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}

[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"
