[tool.poetry]
name = "py4vasp"
version = "0.4.0-alpha.1"
description = "Tool for assisting with the analysis and setup of VASP calculations."
authors = [
    "VASP Software GmbH <py4vasp@vasp.at>",
    "Martin Schlipf <martin.schlipf@gmail.com>",
    "Orest Dubay <orest-d@users.noreply.github.com>"
]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://vasp.at/py4vasp"
repository = "https://github.com/vasp-dev/py4vasp"

[tool.poetry.urls]
"Support Forum" = "https://vasp.at/forum/"

[tool.poetry.dependencies]
python = "^3.7.1"
h5py = "^3.3.0"
numpy = "^1.17.4"
pandas = "^1.3.0"
nglview = "^3.0.3"
ase = "^3.19.0"
mdtraj = "^1.9.5"
mrcfile = "^1.2.0"
plotly = "^5.1.0"
kaleido = "^0.2.1, !=0.2.1.post1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
pytest-cov = "^2.8.1"
pylint = "^2.5.0"
sphinx = "^4.0.3"
black = "^21.6b0"

[tool.poetry2conda]
name = "py4vasp-env"

[tool.poetry2conda.dependencies]
python = {channel = "anaconda"}
h5py = {channel = "conda-forge"}
numpy = {channel = "anaconda"}
pandas = {channel = "conda-forge"}
nglview = {channel = "conda-forge"}
ase = {channel = "conda-forge"}
mdtraj = {channel = "conda-forge"}
plotlt = {channel = "conda-forge"}
mrcfile = {channel = "conda-forge"}
pytest = {channel = "anaconda"}
sphinx = {channel = "anaconda"}
black = {channel = "conda-forge"}


[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}

[build-system]
requires = ["poetry-core>=1.0"]
build-backend = "poetry.core.masonry.api"
