name: test-full

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up conda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}
    - name: Set up poetry
      shell: bash -el {0}
      run: |
        python --version
        python -m pip install --progress-bar=off --upgrade pip
        pip install --progress-bar=off "poetry!=1.4.1"
    - name: Install py4vasp
      shell: bash -el {0}
      run: |
        poetry --version
        poetry install
    - name: Install mdtraj with conda
      shell: bash -el {0}
      run: |
        conda info
        conda install -q -c conda-forge "mdtraj<1.10.2"
    - name: Test with pytest
      shell: bash -el {0}
      run: |
        poetry run pytest --version
        poetry run pytest --cov=py4vasp --cov-report term
    - name: Check code style
      shell: bash -el {0}
      run: |
        poetry run isort --version
        poetry run isort --check src
        poetry run isort --check tests
        poetry run black --version
        poetry run black --check src
        poetry run black --check tests

