name: test-core

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Set up poetry
      run: |
        python --version
        python -m pip install --progress-bar=off --upgrade pip
        pip install --progress-bar=off "poetry!=1.4.1"
    - name: Install py4vasp-core
      run: |
        cp core/* .
        poetry --version
        poetry install
    - name: Test with pytest
      run: |
        poetry run pytest --version
        poetry run pytest
